// primary
$email-dark-blue: hsl(217, 28%, 15%);
$bg-Dark-Blue: hsl(218, 28%, 13%);
$footer-Dark-Blue: hsl(216, 53%, 9%);
$testimonials-Dark-Blue: hsl(219, 30%, 18%);
// accent
$garadien-Cyan: hsl(176, 68%, 64%);
$garadien-blue: hsl(198, 60%, 50%);
$Light-Red-error: hsl(0, 100%, 63%);

$bg-curvy: url("../images/bg-curvy-desktop.svg") center/cover no-repeat;
