.footer {
  background: $footer-Dark-Blue;
  &-logo {
    width: 150px;
    padding-top: 10rem;
  }
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-column {
    padding: 1.5rem 0 0.5rem;
    &-img {
      float: left;
    }
    &-desc,
    &-detail {
      margin-left: 3rem;
      max-width: 300px;
    }
    &-detail {
      padding-bottom: 1rem;
    }
    &-link {
      display: block;
      text-transform: capitalize;
      padding-bottom: 1rem;
    }
    i {
      margin-right: 1rem;
      border: 1px solid #ffffff;
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      &:active {
        color: $garadien-Cyan;
        border-color: $garadien-Cyan;
      }
    }
  }
}
